
/*
COLORS:
#319646
#FFF
#005E35
#000

*/


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900|Neuton:300,400,700');

* {
    box-sizing: border-box;
}

.logo img{
width: 50%;
display: block;
  margin-left: auto;
  margin-right: auto;
}

body, h1, li {
    margin: 0rem;
    padding: 0;
}
nav ul {
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0.5rem;
    
}

nav ul li{
    padding: 0;
}

nav ul li a {
    display: block;
    width: 6rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    background-color: #319646;
}

body {
    line-height: 1.4;
    background-color: #f2f2f2;
    font-family: 'Neuton', serif;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}



p {
    margin-top: 0;
    font-weight: 300;
}

img {
    max-width: 100%;
}

.content h2 {
    margin: 0;
    font-size: 2.2rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
}


button {
    width: 100%;
    overflow: hidden;
    border: solid 1px #319646;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
}

button:hover {
    opacity: 0.9;
}

.button-content button {
    display: block;
    padding: 10px 0;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 1rem;
}

#active-button {
    background-color: #319646;
    color: white;
}

.main-content {
    margin-bottom: 40px;
}

.button-content button:hover {
    cursor: pointer;
}

p {
    font-size: 1rem;
}


.content p {
    text-indent: 40px;
}

.content {
    margin-top: 20px;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: #319646;
    text-align: center;
}

footer a {
    color: #319646;
    margin: 0 5px;
}

footer a:hover {
    opacity: 0.75;
}

@media screen and (max-width: 30rem) {

    nav ul li a:hover,
    .button-content a:hover {
        background-color: #fff;
        color: #000;
    }
    
    nav ul li {
        border-bottom: solid 1px #fff;
    }
    
    nav ul li:last-child {
        border-bottom: none;
    }
    
    p {
        font-size: 0.75rem;
    }
    
}
@media screen and (min-width: 30rem) {
    
    h1 {
        font-size: 2.5rem;
        margin: 2rem 0;
    }
    
    nav ul {
        text-align: center;
    }
    
    nav ul li {
        display: inline-block;
        width: 12%;
        margin: 0.5% 2%;
    }
    
    nav ul li a {
        display: inline-block;
        padding: 10px 0;
    }
    
    nav ul li a:hover {
        border-bottom: solid 3px #fff;
        padding-bottom: 3px;
    }
    
    .button-content {
        display: inline-block;
        width: 32.65%;
        text-align: center;
        padding-left: 0rem;
    }
    
    .button-content button {
        display: inline-block;
        padding: 15px 0;
        width: 100%;
    }
    
    .content h2 {
        font-size: 2rem;
    }
    
}